{% import 'skeleton/prefix.twig' %}

<div id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				{% import 'skeleton/header.twig' %}
			</div>
		</div>
	</div>
</div>

<div id="main" role="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				{% import 'skeleton/content.twig' %}
			</div>
		</div>
	</div>
</div>

<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				{% import 'skeleton/footer.twig' %}
			</div>
		</div>
	</div>
</div>

{% import 'skeleton/suffix.twig' %}